.introduceForce {
    width: 97%;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;

    .content {
        padding: 10px;

        div {
            padding: 10px 0;
        }

        ul {
            padding-left: 30px;
        }
    }
}