
.mode {
    padding-top: 10px;

    .selectMode {
        background-color: #000;
        color: #fff;
    }

    button {
        cursor: pointer;
        border: none;
        // margin-right: 5px;
        padding: 5px 10px;
    }
}